@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <link rel="stylesheet" href="/css/styleTabs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <button class="tablink" onclick="openPage('Tab1', this, '#db2b36')" id="defaultOpen">Product lines</button>
    <button class="tablink" onclick="openPage('Tab2', this, '#db2b36')">Transactions Summary</button>
    <button class="tablink" onclick="openPage('Tab3', this, '#db2b36')">Balance report</button>
    <button class="tablink" onclick="openPage('Tab4', this, '#db2b36')">About</button>
    <button class="tablink" onclick="openPage('Tab5', this, '#db2b36')">About</button>


    <div id="Tab1" class="tabcontent">
        
    </div>

    <div id="Tab2" class="tabcontent">
        <style>
            table#t01 {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
        <table id="t01">
            <tr><th>Flowmeter ID</th><th>Transaction ID</th><th>Start date</th><th>End date</th><th>Receipt</th><th>Quantity</th></tr>
            <tr><td>06</td><td>4316</td><td>29-07-2019 16:54:03</td><td>29-07-2019 17:04:56</td><td>A-95H-E5</td><td>7895.264</td></tr>
            <tr><td>06</td><td>4317</td><td>29-07-2019 17:14:09</td><td>29-07-2019 17:36:19</td><td>A-95H-E5</td><td>4356.12</td></tr>
            <tr><td>#</td><td>-</td><td>-</td><td>-</td><td>TOTAL:</td><td>SUM()</td></tr>
        </table>
    </div>

    <div id="Tab3" class="tabcontent">
        <style>
            table#t01 {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
        <table id="t01">
            <tr><th>Flowmeter ID</th><th>Start date</th><th>End date</th><th>Quantity</th></tr>
            <tr><td>06</td><td>4316</td><td>29-07-2019 16:54:03</td><td>29-07-2019 17:04:56</td><td>A-95H-E5</td><td>7895.264</td></tr>
            <tr><td>06</td><td>4317</td><td>29-07-2019 17:14:09</td><td>29-07-2019 17:36:19</td><td>A-95H-E5</td><td>4356.12</td></tr>
            <tr><td>#</td><td>-</td><td>-</td><td>-</td><td>TOTAL:</td><td>SUM()</td></tr>
        </table>
    </div>

    <div id="Tab4" class="tabcontent">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

    <div id="Tab5" class="tabcontent">
        <h3>About</h3>
        <p>Who we are and what we do.</p>
    </div>

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>
</html>
